# python3.10
wheel==0.43.0
lit==15.0.7
triton>=2.1.0 # https://github.com/state-spaces/mamba/issues/123
setuptools==69.5.1
einops==0.8.0
attrdict==2.0.1
# uv pip install packaging causal_conv1d --no-cache-dir --no-build-isolation
# uv pip install torch==2.1.2+cu118 torchvision==0.16.2+cu118 --index-url https://download.pytorch.org/whl/cu118
transformers==4.41.2
# jupyterlab
